<body>
    <div ng-controller="LoginController">
        <form>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" ng-model="email"><br>
            <label for="password">password:</label>
            <input type="password" name="password" id="password" ng-model="password"><br>
            <input type="submit" value="Login" ng-click="login()">
        </form>
        <div ui-sref-active="active">
            <a href="#!/signup">SignUp</a>
        </div>
    </div>
</body>